{% extends "header.html" %}
{% block content %}




<div class="container py-5">

<h1>About</h1>
<p>{% lorem 5 %}</p>


<div class="container">
  <h1>Popular movies</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-top:20px">
  {% for movie in recent_movies %}
  <div class="card" style="width: 18rem; margin-right:10px">
      <img src="{{ movie.img_url }}" class="card-img-top" alt="{{ movie.title }}" style="margin-top:10px"
      onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Noimage.svg/555px-Noimage.svg.png';">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">
          {% for genre in movie.genres.all %}
          <a href="/genre/{{genre.id}}" class="badge bg-primary text-decoration-none text-white me-2">{{ genre.name }}</a>
          {% endfor %}
          </p>
        <a href="/movie/{{movie.id}}" class="btn btn-primary mt-auto">Follow</a>
      </div>
    </div>
  {% empty %}
    <h1>There are no movies that meet your request.</h1>
  {% endfor %}
  </div>
  </div>

{% if user.is_authenticated %}
<h1>Recommendations</h1>
<ul>
  <li>Soon...</li>
</ul>

{% endif %}

{% if not user.is_authenticated %}
<h1>Error : Login Required</h1>
{% endif %}



<div class="p-4">
  <h1>Movies List:</h1>
  {% if page_obj %} 
  <div class="row justify-content-center align-items-center">
    {% for movie in page_obj %}
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a class="list-group-item list-group-item-action" href="/movie/{{movie.id}}">{{ movie.title }}</a></h3>
          <img src="{{ movie.img_url }}" class="card-img-top" alt="{{ movie.title }}" onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Noimage.svg/555px-Noimage.svg.png';">
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
  {% endif %} 
  <div>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>
<a name="" id="" class="btn btn-warning" href="/logout" role="button">Log out</a>
<a name="" id="" class="btn btn-primary" href="/rated_movies" role="button">Ratings</a>


{% endblock %}


