{% extends "header.html" %}
{% block content %}




<div class="container py-5">
{% if user.is_authenticated %}

<p>Lorem ipsum dolor sit amet.</p>

<h1>Popular movies</h1>

{% if user.is_authenticated %}
<h1>Recommendations</h1>

{% endif %}

{% if not user.is_authenticated %}
<h1>Error : Login Required</h1>
{% endif %}


<div class="p-4">
  <h1>Movies List:</h1>
  {% if page_obj %} 
  <div class="row justify-content-center align-items-center">
    {% for movie in page_obj %}
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a class="list-group-item list-group-item-action" href="/movie/{{movie.id}}">{{ movie.title }}</a></h3>
          <img src="{{ movie.img_url }}" class="card-img-top" alt="{{ movie.title }}" onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Noimage.svg/555px-Noimage.svg.png';">
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
  {% endif %} 
  <div>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>
<a name="" id="" class="btn btn-warning" href="/logout" role="button">Log out</a>
<a name="" id="" class="btn btn-primary" href="/rated_movies" role="button">Ratings</a>
{% endif %}


{% endblock %}


