{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container py-5">
  <h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ login_form|crispy }}
  <button class="btn btn-primary" type="submit">Log In</button>
</form>
</div>

<p class="text-center">If you do not have an account, <a href="/register">register</a> account instead.</p>

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message
}}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}

